<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnlaxGitHubUpload.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnlaxGitHubUpload.Settings>
            <setting name="Token" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>anlaxtech</value>
            </setting>
            <setting name="RepositoryName" serializeAs="String">
                <value>AnlaxTemplate</value>
            </setting>
            <setting name="PathToDebugArchive" serializeAs="String">
                <value>C:\Users\tsare\source\repos\AnlaxTemplate\bin\Debug</value>
            </setting>
            <setting name="ProjectPath" serializeAs="String">
                <value>C:\Users\tsare\source\repos\AnlaxTemplate\AnlaxTemplate.csproj</value>
            </setting>
            <setting name="PathToReleaseArchive" serializeAs="String">
                <value>C:\Users\tsare\source\repos\AnlaxTemplate\bin\Release2</value>
            </setting>
        </AnlaxGitHubUpload.Settings>
    </userSettings>
</configuration>